@charset "utf-8";
$rem:75;
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.top{
	width:750/$rem*1rem;
	height:104/$rem*1rem;
	background:#EEEEEE;
	display: flex;
	position: fixed;
}
.top1{
	width:600/$rem*1rem;
	height:104/$rem*1rem;
	font-size: 35/$rem*1rem;
	font-weight: 600;
	display: flex;
	align-items:center;
	padding-left: 40/$rem*1rem;
}
.top2{
	width:100/$rem*1rem;
	height:104/$rem*1rem;
	font-size: 35/$rem*1rem;
	font-weight: 600;
	display: flex;
	color:#999999;
	align-items:center;
}
.tao{
	width:750/$rem*1rem;
	height:360/$rem*1rem;
	display: flex;
	justify-content: center;
	align-items:center;
}
.tao1{
	width:180/$rem*1rem;
	height:180/$rem*1rem;
}
#shuru{
	width:650/$rem*1rem;
	height:80/$rem*1rem;
	font-size: 35/$rem*1rem;
	color:#E5E6E8;
	border-bottom:3/$rem*1rem solid #FF5000;
	padding-left: 20/$rem*1rem;
}
.shuru0{
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}
#shuru1{
	width:650/$rem*1rem;
	height:80/$rem*1rem;
	font-size: 35/$rem*1rem;
	color:#E5E6E8;
	border-bottom:3/$rem*1rem solid #FF5000;
	padding-left: 20/$rem*1rem;
	margin-top: 80/$rem*1rem;
}
input::-webkit-input-placeholder {
	color:#B5B5B5;
}
input{
	border:0/$rem*1rem;
}
.duanxin{
	width:750/$rem*1rem;
	height:130/$rem*1rem;
	display: flex;
	align-items:center;
	justify-content:space-between;
}
.duanxin1{
	font-size: 30/$rem*1rem;
	padding-left: 50/$rem*1rem;
}
.duanxin2{
	font-size: 30/$rem*1rem;
	padding-right: 50/$rem*1rem;
}
.denglu{
	width:750/$rem*1rem;
	height:300/$rem*1rem;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap:wrap;
}
.denglu1{
	width:650/$rem*1rem;
	height:90/$rem*1rem;
	background:#FF5000;
	font-size: 35/$rem*1rem;
	border-radius: 50/$rem*1rem 50/$rem*1rem 50/$rem*1rem 50/$rem*1rem;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items:center;
}
.denglu2{
	width:644/$rem*1rem;
	height:84/$rem*1rem;
	border:3/$rem*1rem solid #FF5000;
	font-size: 35/$rem*1rem;
	border-radius: 50/$rem*1rem 50/$rem*1rem 50/$rem*1rem 50/$rem*1rem;
	color:#FF5000;
	display: flex;
	justify-content: center;
	align-items:center;
}