@charset "utf-8";
$rem:75;
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

body{
	background:#F2F2F2;
}
.top{
	width:750/$rem*1rem;
	height:202/$rem*1rem;
	background:#FE7214;
	display: flex;
}
.touxiang{
	width:200/$rem*1rem;
	height:202/$rem*1rem;
	display: flex;
	justify-content: center;
	align-items:flex-end;
}
.touxiang1{
	width:95/$rem*1rem;
	height:95/$rem*1rem;
	border-radius: 50%;
	border:2px solid #fff;
}
.mingzi{
	width:350/$rem*1rem;
	height:202/$rem*1rem;
	display: flex;
	align-items:flex-end;
	flex-wrap:wrap;
}
.mingzi1{
	width:350/$rem*1rem;
	font-size: 40/$rem*1rem;
	color:#fff;
	font-weight: 600;
	margin-top: 80/$rem*1rem;
}
.mingzi2{
	width:320/$rem*1rem;
	height:50/$rem*1rem;
	display: flex;
	justify-content: center;
	align-items:center;
}
.tubiao{
	width:200/$rem*1rem;
	height:202/$rem*1rem;
	display: flex;
	justify-content: space-evenly;
	align-items:center;
}
.tubiao1{
	width:40/$rem*1rem;
	height:40/$rem*1rem;
}
.top1{
	width:750/$rem*1rem;
	height:158/$rem*1rem;
	background:#FE7214;
	display: flex;
}
.top2{
	width:120/$rem*1rem;
	height:158/$rem*1rem;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	color:#fff;
	font-size: 25/$rem*1rem;
	margin-left: 50px;
}
.top3{
	width:182/$rem*1rem;
	display: flex;
	justify-content: center;
	align-items:flex-end;
	color:#fff;
	font-size: 25/$rem*1rem;
	padding-bottom:20 /$rem*1rem;
}
.dingdan{
	width:700/$rem*1rem;
	height:76/$rem*1rem;
	background:#fff;
	margin-left: 25/$rem*1rem;
	border-radius: 30/$rem*1rem 30/$rem*1rem 0/$rem*1rem 0/$rem*1rem; 
    display: flex;
}
.dingdan1{
	width:300/$rem*1rem;
	height:76/$rem*1rem;
	display: flex;
	align-items:center;
	font-size: 30/$rem*1rem;
	font-weight: 600;
	margin-left: 20/$rem*1rem;
}
.dingdan2{
	width:400/$rem*1rem;
	height:76/$rem*1rem;
	display: flex;
	align-items:center;
	justify-content: flex-end;
	font-size: 25/$rem*1rem;
	color:#999999;
	margin-right:20 /$rem*1rem;
}
.dingdan01{
	width:700/$rem*1rem;
	height:152/$rem*1rem;
	background:#fff;
	margin-left: 25/$rem*1rem;
	border-radius: 0/$rem*1rem 0/$rem*1rem 30/$rem*1rem 30/$rem*1rem; 
    display: flex;
    justify-content:space-evenly;
    margin-top: 3/$rem*1rem;
}
.dingdan02{
	width:120/$rem*1rem;
	height:158/$rem*1rem;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap:wrap;
	font-size: 25/$rem*1rem;
}
.dingdan03{
	width:60/$rem*1rem;
	height:60/$rem*1rem;
	display: flex;
	justify-content: center;
	margin-top:30 /$rem*1rem;
}
.dingdan04{
	width:120/$rem*1rem;
	height:100/$rem*1rem;
	display: flex;
	justify-content: center;
	color:#666666;
}
.youxi{
	width:700/$rem*1rem;
	height:204/$rem*1rem;
	background:#fff;
	margin-left: 25/$rem*1rem;
	border-radius: 30/$rem*1rem 30/$rem*1rem 30/$rem*1rem 30/$rem*1rem; 
    margin-top: 30/$rem*1rem;
    overflow: hidden;
    display: flex;
	align-items:center;
}
.youxi1{
	width:700/$rem*1rem;
	height:190/$rem*1rem;
}
.zdingdan{
	width:700/$rem*1rem;
	height:76/$rem*1rem;
	background:#fff;
	margin-left: 25/$rem*1rem;
	border-radius: 30/$rem*1rem 30/$rem*1rem 0/$rem*1rem 0/$rem*1rem; 
    display: flex;
    margin-top: 30/$rem*1rem;
}
.zdingdan1{
	width:300/$rem*1rem;
	height:76/$rem*1rem;
	display: flex;
	align-items:center;
	font-size: 30/$rem*1rem;
	font-weight: 600;
	margin-left: 20/$rem*1rem;
}
.zdingdan2{
	width:400/$rem*1rem;
	height:76/$rem*1rem;
	display: flex;
	align-items:center;
	justify-content: flex-end;
	font-size: 25/$rem*1rem;
	color:#999999;
	margin-right:20 /$rem*1rem;
}
.zdingdan01{
	width:700/$rem*1rem;
	height:152/$rem*1rem;
	background:#fff;
	margin-left: 25/$rem*1rem;
    display: flex;
    justify-content:space-evenly;
    margin-top: 3/$rem*1rem;
}
.zdingdan001{
	width:700/$rem*1rem;
	height:152/$rem*1rem;
	background:#fff;
	margin-left: 25/$rem*1rem;
	border-radius: 0/$rem*1rem 0/$rem*1rem 30/$rem*1rem 30/$rem*1rem; 
    display: flex;
    justify-content:space-evenly;
}
.zdingdan02{
	width:130/$rem*1rem;
	height:158/$rem*1rem;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap:wrap;
	font-size: 25/$rem*1rem;
}
.zdingdan03{
	width:60/$rem*1rem;
	height:60/$rem*1rem;
	display: flex;
	justify-content: center;
	margin-top:30 /$rem*1rem;
}
.zdingdan04{
	width:130/$rem*1rem;
	height:100/$rem*1rem;
	display: flex;
	justify-content: center;
	color:#666666;
}
.bottomz{
	width:750/$rem*1rem;
	height:100/$rem*1rem;
	background: #fff;
	display: flex;
	align-items:center;
    position: fixed;
    bottom: 0px;
    z-index: 999;
}
.bottomz1{
	width:750/$rem*1rem;
	display: flex;
	justify-content:space-evenly;
	align-items:center;
}
.bottomz2{
	width:100/$rem*1rem;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}
.bottomz3{
	width:50/$rem*1rem;
	height:50/$rem*1rem;
}
.bottomz4{
	width:100/$rem*1rem;
	color:#5D656B;
	font-size: 25/$rem*1rem;
	display: flex;
	justify-content:center;
	align-items:center;
}
.bottomzz{
	width:750/$rem*1rem;
	height:150/$rem*1rem;
}