body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

td, th, caption {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

a {
  color: #555;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  border: none; }

ol, ul, li {
  list-style: none; }

input, textarea, select, button {
  font: 14px Verdana,Helvetica,Arial,sans-serif; }

table {
  border-collapse: collapse; }

html {
  overflow-y: scroll; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.top {
  width: 10rem;
  height: 1.33333rem;
  background: #FF0036;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999; }

.top1 {
  width: 0.66667rem;
  height: 0.66667rem; }

.top2 {
  width: 3.2rem;
  height: 0.53333rem; }

.top3 {
  width: 0.66667rem;
  height: 0.66667rem; }

.top02 {
  width: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.topz {
  width: 10rem;
  height: 1.33333rem;
  background: #FF0036;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  margin-top: 1.33333rem;
  z-index: 999; }

.topz1 {
  width: 9.33333rem;
  height: 0.93333rem;
  font-size: 0.4rem;
  background: #fff;
  border-radius: 0.13333rem 0.13333rem 0.13333rem 0.13333rem;
  display: flex;
  align-items: center;
  color: #B2B2B2;
  margin-left: 0.26667rem; }

.topz3 {
  width: 0.53333rem;
  height: 0.53333rem;
  background: url(../../img/fangdajing2.png) no-repeat;
  background-size: 100%;
  margin-left: 0.26667rem; }

.classify {
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  margin-top: 2.8rem; }

.classify > a > li {
  width: 1.73333rem;
  height: 2rem; }

.classify > a > li > img {
  width: 1.33333rem;
  height: 1.33333rem;
  margin-left: 0.2rem; }

.classify > a > li > p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.30667rem; }

.swiper-container {
  width: 10rem;
  height: 3.81333rem; }

.swiper-slide > img {
  width: 10rem;
  height: 3.81333rem;
  background: no-repeat;
  background-size: 100% 100%; }

.tu {
  width: 10rem;
  height: 4.8rem;
  margin-top: 0.26667rem; }

.tu1 {
  width: 10rem;
  height: 4.8rem;
  background: no-repeat;
  background-size: 100% 100%; }

.youxuan {
  width: 10rem;
  height: 3.54667rem;
  display: flex;
  background: #fff;
  display: flex;
  justify-content: space-evenly; }

.youxuan1 {
  width: 4.66667rem;
  height: 4.4rem;
  background: #F7F7F7; }

.youxuan5 {
  width: 2.4rem;
  font-size: 0.4rem;
  display: flex;
  margin-top: 0.06667rem; }

#timer1 {
  width: 0.53333rem;
  height: 0.53333rem;
  font-size: 0.33333rem;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.06667rem 0.06667rem 0.06667rem 0.06667rem; }

#timer2 {
  width: 0.53333rem;
  height: 0.53333rem;
  font-size: 0.33333rem;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

#timer3 {
  width: 0.53333rem;
  height: 0.53333rem;
  font-size: 0.33333rem;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.youxuan2 {
  display: flex;
  align-items: center;
  padding-top: 0.13333rem;
  margin-top: 0.26667rem; }

.youxuan4 {
  width: 2.66667rem;
  font-size: 0.4rem;
  padding-left: 0.13333rem; }

.youxuan004 {
  width: 2rem;
  font-size: 0.46667rem;
  padding-left: 0.13333rem;
  font-weight: 600; }

.youxuan6 {
  width: 1.86667rem;
  height: 1.86667rem;
  background: no-repeat;
  background-size: 100% 100%;
  padding-left: 0.13333rem;
  padding-top: 0.66667rem; }

.youxuan16 {
  color: red;
  width: 1.06667rem;
  height: 0.33333rem;
  border-radius: 0.06667rem 0.06667rem 0.06667rem 0.06667rem;
  border: 1px solid red;
  font-size: 0.26667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.53333rem; }

.youxuan016 {
  width: 2.26667rem;
  height: 3.33333rem;
  background: #F7F7F7;
  display: inline-block; }

.youxuan160 {
  color: red;
  width: 1.33333rem;
  height: 0.33333rem;
  border-radius: 0.06667rem 0.06667rem 0.06667rem 0.06667rem;
  border: 1px solid red;
  font-size: 0.26667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.53333rem; }

.youxuan0160 {
  color: red;
  width: 1.6rem;
  height: 0.33333rem;
  border-radius: 0.06667rem 0.06667rem 0.06667rem 0.06667rem;
  border: 1px solid red;
  font-size: 0.26667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.53333rem; }

.zyouxuan {
  width: 10rem;
  height: 3.54667rem;
  display: flex;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem; }

.zyouxuan1 {
  width: 9.6rem;
  height: 4.4rem;
  background: #F7F7F7;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.zyouxuan004 {
  width: 9.33333rem;
  font-size: 0.46667rem;
  padding-left: 0.13333rem;
  font-weight: 600;
  display: flex; }

.zyouxuan0004 {
  font-size: 0.33333rem;
  color: #807F7F;
  margin-top: 0.13333rem;
  margin-left: 0.13333rem; }

.xihuan {
  font-size: 0.46667rem;
  font-weight: 600;
  margin-top: 1.33333rem;
  margin-left: 0.26667rem; }

.tubiao1 {
  width: 4.66667rem;
  height: 8.66667rem;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #EDEDED; }

.tubiao2 {
  width: 3.73333rem;
  height: 4.26667rem; }

.tubiao002 {
  width: 4.93333rem;
  height: 4.66667rem;
  background: #F7F7F7;
  display: flex;
  justify-content: center; }

.tubiao3 {
  width: 4.66667rem;
  height: 1.06667rem;
  margin-left: 0.26667rem;
  font-size: 0.37333rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.13333rem; }

.tubiao4 {
  color: #FF5000;
  font-size: 0.46667rem;
  margin-top: 0.93333rem;
  margin-left: 0.26667rem; }

.tubiao04 {
  color: #FF5000;
  font-size: 0.46667rem;
  margin-top: 0.93333rem;
  margin-left: -1.06667rem; }

.tubiao5 {
  color: #FF5176;
  font-size: 0.33333rem;
  margin-top: -0.53333rem;
  margin-left: 2.93333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.33333rem;
  height: 0.53333rem;
  background: #FFE6EB;
  border-radius: 0.26667rem 0.26667rem 0.26667rem 0.26667rem; }

.tubiao0 {
  width: 10rem;
  height: 8.93333rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.13333rem; }

.tubiao03 {
  width: 0.64rem;
  height: 0.4rem;
  margin-top: 0.06667rem; }

.tubiao6 {
  width: 4.66667rem;
  height: 1.06667rem;
  font-size: 0.37333rem;
  overflow: hidden; }

.xiaotu {
  width: 1.06667rem;
  height: 0.4rem;
  background: #CDA3B1;
  color: #fff;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.2rem;
  margin-left: 0.26667rem; }

.tuijian {
  width: 100%;
  height: 0.93333rem;
  border-top: 1px solid #EDEDED;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818181;
  margin-top: 0.2rem; }

.xiaotu0 {
  width: 2.13333rem;
  height: 0.4rem;
  background: #CDA3B1;
  color: #fff;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.2rem;
  margin-left: 0.26667rem; }

.xiaotu1 {
  width: 1.06667rem;
  height: 0.4rem;
  border: 1px solid red;
  color: red;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.26667rem;
  margin-top: 0.13333rem; }

.tubiao000 {
  width: 10rem;
  height: 8rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.13333rem; }

.tubiao001 {
  width: 4.66667rem;
  height: 7.73333rem;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #EDEDED; }

.xiaotu00 {
  width: 0.93333rem;
  height: 0.4rem;
  background: #CEAFA3;
  color: #fff;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.2rem;
  margin-left: 0.26667rem; }

.xiaotu0000 {
  width: 1.33333rem;
  height: 0.4rem;
  background: #CEAFA3;
  color: #fff;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.2rem;
  margin-left: 0.26667rem; }

.xiaotu01 {
  width: 1.33333rem;
  height: 0.4rem;
  border: 1px solid red;
  color: red;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.26667rem;
  margin-top: 0.13333rem; }

.xiaotu0z0 {
  width: 0.93333rem;
  height: 0.4rem;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.2rem;
  margin-left: 0.26667rem; }

.xiaotuz1 {
  width: 1.46667rem;
  height: 0.4rem;
  border: 1px solid #4A90E2;
  color: #4A90E2;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.26667rem;
  margin-top: 0.13333rem; }

.xiaotu0100 {
  width: 1.6rem;
  height: 0.4rem;
  background: #CDA3B1;
  color: #fff;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.2rem;
  margin-left: 0.26667rem; }

.xiaotu0110 {
  width: 1.86667rem;
  height: 0.4rem;
  background: #CDA3B1;
  color: #fff;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.2rem;
  margin-left: 0.26667rem; }

.tubiao044 {
  color: #FF5000;
  font-size: 0.46667rem;
  margin-top: 0.93333rem;
  margin-left: -1.46667rem; }

.xiaotuz0 {
  width: 1.33333rem;
  height: 0.4rem;
  background: #CDA3B1;
  color: #fff;
  font-size: 0.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.2rem;
  margin-left: 0.26667rem; }

#ztop_div {
  position: fixed;
  bottom: 1rem;
  right: 0.53333rem;
  display: none;
  width: 1.06667rem;
  height: 1.06667rem;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #E1E1E1; }

.ztopz1 {
  width: 0.4rem;
  height: 0.4rem;
  margin-left: 0.33333rem;
  margin-top: 0.06667rem; }

.ztopz2 {
  color: #BBBBBB;
  font-size: 0.26667rem;
  margin-left: 0.2rem;
  margin-top: 0.06667rem;
  font-size: 0.33333rem; }

/*# sourceMappingURL=style.css.map */
